﻿

@{
    ViewBag.Title = "title";
    Layout = "_FrontEndLayout";
}


		<section class="breadcrumb">
			<div class="container p-0">
				<div class="col-md-12">
					<ul>
						<li>
							<a href="#">
								Trang chủ
							</a>
						</li>
						<li>
							<a href="#">
								Giành cho nam
							</a>
						</li>
						<li>
							Giày Thể Thao Cao Cấp Nam Biti's DSMH01400XAM (Xám)
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="content-contact mt-2" id="form_book">
			<div class="container p-0">
				<div class="row">
					<div class="col-md-8">
						<div class="form-contact" >
							<h2 class="title">
								Send Message Us
							</h2>
							<form action="#" class="mt-2">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Họ và tên" />
								</div>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Email" />
								</div>

								<div class="form-group">
									<input class="form-control" type="text" placeholder="Số điện thoại" />
								</div>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Số điện thoại" />
								</div>
								<div class="form-group">
									<textarea class="w-100" rows="5" placeholder="Lời nhắn"></textarea>
								</div>
								<div class="form-group text-center">
									<button type="submit" class="btn-blue">
										Gửi liên hệ
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-4">
						<div class="area-contact ">
							<h2 class="title">
								Quick Contact
							</h2>
							<div class="sub-title">
								If you have any questions simply use the following contact details.
							</div>
							<div class="list-area">
								<div class="item">
									<div class="icon">
										<i class="fas fa-map-marker-alt"></i>
									</div>
									<div class="txt-item">
										<h3 class="title-item">
											ADDRESS:
										</h3>
										<div class="sub-title">
											123 West Street, Melbourne Victoria 3000 Australia
										</div>
									</div>
								</div>

								<div class="item">
									<div class="icon">
										<i class="fas fa-envelope"></i>
									</div>
									<div class="txt-item">
										<h3 class="title-item">
											EMAIL:
										</h3>
										<div class="sub-title">
											info@company.com
										</div>
									</div>
								</div>

								<div class="item">
									<div class="icon">
										<i class="fas fa-mobile"></i>
									</div>
									<div class="txt-item">
										<h3 class="title-item">
											PHONE
										</h3>
										<div class="sub-title">
											+61 3 8376 6284
										</div>
									</div>
								</div>
							</div>
							<div class="social">
								<ul>
									<li>
										<a href="#">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-instagram"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-linkedin-in"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="map">
					<div class="row">
						<div class="col-md-12">
							<h2 class="title">
								Bản đồ
							</h2>
							<div class="local-map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59587.977854466706!2d105.8019443916433!3d21.022736016347025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9bd9861ca1%3A0xe7887f7b72ca17a9!2zSMOgIE7hu5lpLCBIb8OgbiBLaeG6v20sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1557736661679!5m2!1svi!2s" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>