﻿@model CoV.Service.DataModel.ProductViewModel
@{
    ViewBag.Title = "title";
    Layout = "_FrontEndLayout";
}

<form method="post">
		<section class="breadcrumb">
			<div class="container p-0">
				<div class="col-md-12">
					<ul>
						<li>
							<a href="#">
								Trang chủ
							</a>
						</li>
						<li>
							<a href="#">
								Giành cho nam
							</a>
						</li>
						<li>
								<label asp-for="name">@Model.name</label>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class='detail-product'>
			<div class='container p-0'>
				<div class='row'>
					<div class="col-md-6">
						<div class="slide-img-detail">
							<div id='ninja-slider'>
								<div class='slider-inner'>
									<ul class='pt-max'>
										<li>
											<a class='ns-img' href='~/Frontend/images/img-detail-01.jpg'></a>
										</li>
										<li>
											<a class='ns-img' href='~/Frontend/images/img-detail-02.jpg'></a>
										</li>
										<li>
											<a class='ns-img' href='~/Frontend/images/img-detail-03.jpg'></a>
										</li>
										<li>
											<a class='ns-img' href='~/Frontend/images/img-detail-04.jpg'></a>
										</li>
										<li>
											<a class='ns-img' href='~/Frontend/images/img-detail-05.jpg'></a>
										</li>
									</ul>
									<div class='fs-icon'></div>
									<div id='thumbnail-slider'>
										<div class='inner'>
											<ul>
												<li>
													<a class='thumb' href='~/Frontend/images/img-detail-01.jpg'></a>
												</li>
												<li>
													<a class='thumb' href='~/Frontend/images/img-detail-02.jpg'></a>
												</li>
												<li>
													<a class='thumb' href='~/Frontend/images/img-detail-03.jpg'></a>
												</li>
												<li>
													<a class='thumb' href='~/Frontend/images/img-detail-04.jpg'></a>
												</li>
												<li>
													<a class='thumb' href='~/Frontend/images/img-detail-05.jpg'></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class='col-md-6'>
						<h1 class='name-product'>
							<label asp-for="name">@Model.name</label>
						</h1>
						<div class='rate-product'>
							<i class='fas fa-star rated'></i>
							<i class='fas fa-star rated'></i>
							<i class='fas fa-star rated'></i>
							<i class='fas fa-star rated'></i>
							<i class='fas fa-star rated'></i>
						</div>
						<div class='price'>
							<label asp-for="Price">@Model.Price đ</label>
						</div>
						<div class='summary-product'>
							<label asp-for="Details">@Model.Details</label>

						</div>
						<div class='list-code'>
							<div class='item-list'><b>SKU: </b><label asp-for="Sku">@Model.Sku</label>
							</div>
							<div class='item-list'>
								<b>Tình trạng: </b>
								<label asp-for="StatusProduct">@Model.StatusProduct.status</label>
							</div>
							<div class='item-list'>
								<b>Thương hiệu: </b>
								<label asp-for="MakerProduct">@Model.MakerProduct.MakerName</label>
							</div>
						</div>
						<div class='row'>
							<div class='col-md-12 pr-0'>
								<h4 class='title-side-ba'>
									Size:
								</h4>
								<div class="list-size">
									<button class="active">35</button>
									<button>36</button>
									<button>37</button>
									<button>38</button>
									<button>39</button>
									<button>40</button>
									<button>41</button>
									<button>42</button>
									<button>43</button>
									<button>44</button>
									<button>45</button>
								</div>
							</div>
						</div>
						<div class='row mt-1'>
							<div class='col-md-6 p-0'>
								<div>Số lượng:</div>
								<div class='form-group qty-product'>
									<button class='down-qty'>
										<i class='fas fa-minus'></i>
									</button>
									<input class='form-control' type='text' value='1'>
									<button class='up-qty'>
										<i class='fas fa-plus'></i>
									</button>
								</div>
							</div>
							<div class='col-md-1 p-0 '>
							</div>
							<div class='col-md-5 p-0 text-left'>
								<button class='add-to-cart'>
									<i class='fas fa-cart-plus'></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

<section class='detail-product pb-3'>
	<div class='container p-0'>
		<div class='row mt-3'>
			<div class='col-md-9'>
				<div class='my-tab info-prod-detail'>
					<ul class='title-tab'>
						<li>
							<a class='active to-tab' data-id='tab-home' href='javascript:void(0)'>Mô tả sản phẩm</a>
						</li>
						<li>
							<a class='to-tab' data-id='tab-about' href='javascript:void(0)'>Thông tin sản phẩm</a>
						</li>
					</ul>
					<div class='txt-tab'>
						<div class='item-txt-tab block' id='tab-home'>
							Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn
							<h2>sdfsd asdf sadf</h2>
							<h3>vẫn biết rằng</h3>
							<img alt='' src='~/Frontend/images/img-product-03.jpg'>
							Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản
							<h2>sdfsd asdf sadf</h2>
							<ul>
								<li>
									ssdf sdaf safd
								</li>
								<li>
									ssdf sdaf safd
								</li>
								<li>
									ssdf sdaf safd
								</li>
							</ul>
							<ol>
								<li>
									ssdf sdaf safd
								</li>
								<li>
									ssdf sdaf safd
								</li>
								<li>
									ssdf sdaf safd
								</li>
							</ol>
						</div>
						<div class='item-txt-tab' id='tab-about'>
							Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố hài hước, các từ ngẫu nhiên có khi không có vẻ gì là có ý nghĩa. Nếu bạn định sử dụng một đoạn Lorem Ipsum, bạn nên kiểm tra kĩ để chắn chắn là không có gì nhạy cảm được giấu ở giữa đoạn văn bản. Tất cả các công cụ sản xuất văn bản mẫu Lorem Ipsum đều được làm theo cách lặp đi lặp lại các đoạn chữ cho tới đủ thì thôi, khiến cho lipsum.com trở thành công cụ sản xuất Lorem Ipsum đáng giá nhất trên mạng. Trang web này sử dụng hơn 200 từ la-tinh, kết hợp thuần thục nhiều cấu trúc câu để tạo ra văn bản Lorem Ipsum trông có vẻ thật sự hợp lí. Nhờ thế, văn bản Lorem Ipsum được tạo ra mà không cần một sự lặp lại nào, cũng không cần chèn thêm các từ ngữ hóm hỉnh hay thiếu trật tự.
						</div>
					</div>
				</div>
			</div>
			<div class='col-md-3'>
				<div class='side-bar-detail mt-0'>
					<div class='blog-related'>
						<h3 class='title-bar mt-0'>Sản phẩm liên quan</h3>
						<ul>
							<li class='row'>
								<div class='col-md-4 p-0'>
									<div class='img-related'>
										<a href='blog-detail.html'>
											<img alt='' src='~/Frontend/images/img-product-03.jpg'>
										</a>
									</div>
								</div>
								<div class='col-md-8'>
									<div class='info-related'>
										<h3 class='name-related'>
											<a href='blog-detail.html'>
												Best night photo at resort
											</a>
										</h3>
										<div class='price-bar'>
											<b class='color-danger'>234.000 đ</b>
											<del>234.000 đ</del>
										</div>
									</div>
								</div>
							</li>
							<li class='row'>
								<div class='col-md-4 p-0'>
									<div class='img-related'>
										<a href='blog-detail.html'>
											<img alt='' src='~/Frontend/images/img-product-03.jpg'>
										</a>
									</div>
								</div>
								<div class='col-md-8'>
									<div class='info-related'>
										<h3 class='name-related'>
											<a href='blog-detail.html'>
												Best night photo at resort
											</a>
										</h3>
										<div class='price-bar'>
											<b class='color-danger'>234.000 đ</b>
											<del>234.000 đ</del>
										</div>
									</div>
								</div>
							</li>
							<li class='row'>
								<div class='col-md-4 p-0'>
									<div class='img-related'>
										<a href='blog-detail.html'>
											<img alt='' src='~/Frontend/images/img-product-03.jpg'>
										</a>
									</div>
								</div>
								<div class='col-md-8'>
									<div class='info-related'>
										<h3 class='name-related'>
											<a href='blog-detail.html'>
												Best night photo at resort
											</a>
										</h3>
										<div class='price-bar'>
											<b class='color-danger'>234.000 đ</b>
											<del>234.000 đ</del>
										</div>
									</div>
								</div>
							</li>
							<li class='row'>
								<div class='col-md-4 p-0'>
									<div class='img-related'>
										<a href='blog-detail.html'>
											<img alt='' src='~/Frontend/images/img-product-03.jpg'>
										</a>
									</div>
								</div>
								<div class='col-md-8'>
									<div class='info-related'>
										<h3 class='name-related'>
											<a href='blog-detail.html'>
												Best night photo at resort
											</a>
										</h3>
										<div class='price-bar'>
											<b class='color-danger'>234.000 đ</b>
											<del>234.000 đ</del>
										</div>
									</div>
								</div>
							</li>
							<li class='row'>
								<div class='col-md-4 p-0'>
									<div class='img-related'>
										<a href='blog-detail.html'>
											<img alt='' src='~/Frontend/images/img-product-03.jpg'>
										</a>
									</div>
								</div>
								<div class='col-md-8'>
									<div class='info-related'>
										<h3 class='name-related'>
											<a href='blog-detail.html'>
												Best night photo at resort
											</a>
										</h3>
										<div class='price-bar'>
											<b class='color-danger'>234.000 đ</b>
											<del>234.000 đ</del>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class='blog-tags'>
						<h3 class='title-bar'>Từ khóa</h3>
						<ul>
							<li>
								<a href='#'>Nhà đất</a>
							</li>
							<li>
								<a href='#'>Sổ đỏ</a>
							</li>
							<li>
								<a href='#'>
									Bất động sản
								</a>
							</li>
							<li>
								<a href='#'>Nhà đất</a>
							</li>
							<li>
								<a href='#'>Sổ đỏ</a>
							</li>
							<li>
								<a href='#'>
									Bất động sản
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</form>
@section Scripts
{
	<script src="~/Frontend/js/jquery.js"></script>
	<script src="~/Frontend/js/owl.js"></script>
	<script src="~/Frontend/js/app.js"></script>
	<script src="~/Frontend/js/thumbnail-slider.js"></script>
	<script src="~/Frontend/js/ninja-slider.js"></script>
}

