﻿@model CoV.Service.DataModel.UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-sm-5">
        <form   enctype="multipart/form-data" asp-controller="Account" asp-action="CreateOrUpdate" method="post" >
            <div class="card-body">
                <div class="form-group">
                    <label >Email address</label>
                    <input class="form-control" id="exampeInputEmail1" placeholder="Enter email" required asp-for="UserName">
                </div>
                <span asp-validation-for="UserName" class="text-danger"></span>
                
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" id="exampleInputPassword1" placeholder="Password" asp-for="Password">
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="form-group">
                    <label for="exampleInputPassword1">Police</label>
                    <select class="custom-select" asp-for="RoleId">

                        @foreach (var item in Model.Roles)
                        {
                            <option value="@item.Id">@item.RoleName</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">ExpiredDate</label>
                    <input class="form-control" asp-for="ExpiredDate">
                </div>

                <div class="form-group">
                    <label> Avatar</label>
                    <div class="input-group ">
                        <div class="custom-file">
                            <input id="imgInp" type="file" class="custom-file-input" id="validatedCustomFile"  asp-for="PhotoPath">
                            <label asp-for="PhotoPath" class="custom-file-label" >Choose file...</label>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                        </div>
                    </div>
                </div>

                <div >
                    <input class="custom-file-input" asp-for="ImageAvatar">
                    <img id="blah" src="~/Images/@Model.ImageAvatar" alt="Responsive image" class="rounded-pill"/>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer" style="text-align: center">
                    <button type="submit" value="Updload" class="btn btn-primary">Gửi</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-7">

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

@section Scripts
{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#blah').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        };
        $("#imgInp").change(function() {
            readURL(this);
        });
    </script>
}