﻿@model IEnumerable<CoV.Service.DataModel.UserViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

    <div class="row">
        <div class="col-12" style="text-align: center">
           <h1> <a  asp-controller="Account" asp-action="Index">DANH SÁCH TÀI KHOẢN </a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 table-responsive">
            <table  id="ShowClass" class="table table-bordered table-hover">
                <thead class="thead-light">       
                <tr style="background-color: darkgrey"> 
                    <td >User Name</td>
                    <td >Password</td>
                    <td>ImageAvatar</td>
                    <td >Police</td>
                    <td >FirstDate</td>
                    <td >ExpriredDate</td>
                    <td>Request</td>
                    <td style="text-align: center">Update - Delete</td>
                </tr>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>  
                        <td>@item.UserName</td>
                        <td>@item.Password</td>
                        <td style="width: 120px; height: 50px"  > <img src="~/Images/@item.ImageAvatar" width="100%" height="100%"/></td> 
                        <td>@item.Role.RoleName</td>
                        <td>@item.FirstDate</td>
                        <td>@item.ExpiredDate</td>
                        <td>@item.Request</td>
                        <td style="text-align: center">
                            <a  asp-route-id="@item.Id" asp-controller="Account" asp-action="CreateOrUpdate"   > <i  class="fas fa-edit"></i></a>
                            <a  asp-route-id="@item.Id" asp-action="Delete" asp-controller="Account"> <i style="color: red" class="fas fa-user-times"></i></a>
                        </td>
                    </tr>
                }
                </tbody>
                </thead>
            </table>
        </div>
    </div>


@section Scripts{
    <script>
        $(document).ready(function() {
            $('#ShowClass').DataTable();
        });
    </script>
}







