.cac-nut {
    width:  40%;
    margin:  auto;
    margin-top:  50px;
    text-align:  center;
}

button.btn-open {
    border:  none;
    background: #ed4e4e;
    border-color: #ed4e4e;
    cursor:  pointer;
    width: 100%;
    height: 100%;
}


.hop-thoai {
    width:  400px;
    height: 220px;
    background-color:  black;
    border-radius:  2px;
    position:  fixed;
    top: 30%;
    left:  50%;
    z-index: 2;
    opacity: 0.75;
    margin-top: -60px;
    margin-left: -150px;
    visibility: hidden;
}
.hop-thoai h3 {
    width:  100%;
    text-align: center;
}

.noi-dung {
    text-align:  center;

}

button.btn-close {
    padding: 8px 10px;
    border:  none;
    color:  #fafafa;
    border-radius:  2px;
    cursor: pointer;
}
.nen-mo{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
}
.hien-ra{
    visibility: visible;
    transition: 0.6s;
    transform: translateY(0px);
}
.fa-check-circle {
    z-index: 3;
}