﻿@model IEnumerable<CoV.Service.DataModel.ProductViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

 <div class="row">
        <div class="col-12">
            <h1 style="text-align: center" ><a  asp-controller="Product" asp-action="GetAll">Danh sách sản phẩm</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 table-responsive">
            <table  id="ShowClass" class="table table-bordered table-hover">
                <thead class="thead-light">       
                <tr style="background-color: darkgrey"> 
                    <td >Tên sản phẩm </td> 
                    <td >Mã Sản phẩm</td> 
                    <td >Giá</td> 
                    <td >Ảnh</td> 
                    <td >Ngày nhập</td> 
                    <td >Mô tả</td> 
                    <td >Kho nhập</td> 
                    <td >Số lượng </td> 
                    <td >Màu sắc</td> 
                    <td >Hãng</td> 
                    <td >Trạng thái</td> 
                    <td >Thể loại</td> 
                    <td >Giới tính</td> 
                    <td style="text-align: center">Update - Delete</td>
                </tr>
                
                <tbody>
                @foreach(var item in Model)
                { 
                    <tr style="text-align: center"> 
                        <td >@item.name</td> 
                        <td >@item.Sku</td> 
                        <td >@item.Price</td> 
                        <td  style="width: 120px; height: 100px" ><img src="~/Images/@item.AvatarDetails"/></td> 
                        <td >@item.FirstDate</td> 
                        <td  id="details" >@item.Details</td> 
                        <td >@item.AddressProduction</td> 
                        <td >@item.Number</td> 
                        <td >@item.ColorProduct.Color</td> 
                        <td >@item.MakerProduct.MakerName </td> 
                        <td >@item.StatusProduct.status</td> 
                        <td >@item.CategoryProduct.CategoryName</td> 
                        <td >@item.Gender.GenderName</td> 
                        <td style="text-align: center"> 
                            <a class="btn btn-primary "  asp-controller="Product"  asp-action="CreateOrUpdate"  asp-route-id="@item.Id"  > <i  class="fas fa-edit"></i></a> 
                            <a class="btn btn-primary "  asp-controller="Product"  asp-action="Delete" asp-route-id="@item.Id"  ><i style="color: red" class="fas fa-trash-alt"></i></a> 
                        </td> 
                    </tr> 
                } 
                </tbody>
                </thead>
            </table>
        </div>
    </div>


@section Scripts{
    <script>    
        $(document).ready(function() {
            $('#ShowClass').DataTable();
        });


        console.log('adf');
        
    </script>
}

